.food > header > h1 {
  color: #000;
}

.food > header > h1>span{
  color: #383838;
  text-transform: capitalize;
}

.food__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5vw;
  margin: 5vw;
}

.box {
  box-shadow: 1px 1px 5px rgb(152, 151, 151);
  border-radius: 5px;
  text-align: center;
  padding: 2vw;
  transition: transform 450ms;
  cursor: pointer;
}

.box:hover {
  transform: scale(1.08);
  visibility: inherit;
}

.box > img {
  width: 20vw;
}

.food {
  padding-top: 16vh;
}

@media screen and (max-width: 767px) {
  .food__container {
    grid-template-columns: repeat(1, 1fr);
    gap: 8vw;
  }

  .box {
    width: 50vw;
    margin: auto;
    padding: 4vw 0;
  }
}
