.food > header > h1 {
  color: #000;
  font-size: 40px;
  text-align: center;
  margin-bottom: 2vh;
}

.food > header > h1 > span {
  color: #383838;
  text-transform: capitalize;
}

.addToCart > h2 {
  color: #434343;
}

.addToCart > button {
  border: none;
  padding: 0.5rem 1rem;
  font-size: 15px;
  color: #fc8019;
  border: 1px solid #fc8019;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  /* font-weight: bold; */
  letter-spacing: 0.3px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.addToCart > button:hover {
  box-shadow: 2px 2px 3px #fdb172;
  transition: all 0.35s;
}

.food__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5vw;
  margin: 5vw;
}

.box {
  box-shadow: 1px 1px 5px rgb(152, 151, 151);
  border-radius: 5px;
  text-align: center;
  padding: 2vw;
  transition: transform 450ms;
  cursor: pointer;
}

.box:hover {
  transform: scale(1.08);
  visibility: inherit;
}

.box > img {
  width: 20vw;
}

.box > p {
  margin-bottom: 0.8vh;
}

.box > h6 {
  margin-bottom: 1.3vh;
}

.box > button {
  border: none;
  padding: 0.5rem 1rem;
  font-size: 15px;
  color: #252525;
  background-color: #fc8019;
  border-radius: 5px;
  cursor: pointer;
  font-weight: normal;
  letter-spacing: 0.3px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin: auto;
}

.box > button:hover {
  color: #f2f2f2;
  transition: all 0.35s;
}

.food {
  padding-top: 18vh;
}

@media screen and (max-width: 767px) {
  .food__container {
    grid-template-columns: repeat(1, 1fr);
    gap: 8vw;
  }

  .box {
    width: 50vw;
    margin: auto;
    padding: 4vw 0;
  }

  .food > header > h1 {
    font-size: xx-large;
    margin-left: 3vw;
    margin-right: 3vw;
  }
}
