.nav {
  min-height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: all 0.5s ease-in;
  width: 100%;
  position: fixed;
  background-color: #fff;
  z-index: 1;
}

.nav-show {
  box-shadow: 1px 1px 10px rgb(152, 151, 151);
}

.nav > img {
  height: 10vh;
  cursor: pointer;
}

.nav > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3vw;
}

.nav > div > p {
  font-size: large;
  font-weight: 350;
  text-align: center;
}

.nav > div > p > span {
  font-weight: 600;
  color: #f7ac6e;
}

.nav > div > img {
  height: 6vh;
  width: 6vh;
  background-color: rgb(211, 211, 211);
  border-radius: 50%;
  cursor: pointer;
  /* border: 2px solid #fc8019; */
}

@media screen and (max-width: 767px) {
  .nav > img {
    height: 5vh;
  }

  .nav > div > p {
    font-size: 14px;
  }

  .nav > div > img {
    height: 4vh;
    width: 4vh;
  }
}
